<h4>digite seu lembrete:</h4>
<br><br>
<%= render 'form', lembrete: @lembrete %>

<%= link_to @lembrete, class: 'btn btn-primary btn-xs' do %>  
    <i class="glyphicon glyphicon-ok-sign" aria-hidden="true"> </i> mostrar    
<% end %>    
<%= link_to lembretes_path, class: 'btn btn-default btn-xs' do %>
    <i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i> voltar         
<% end %> 
